//These styles are for the body/global and had to be written in a separate SCSS file
body {
  background: #4CAF50;
  font-family: Roboto, sans-serif;

  * {
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}
//These styles are for the body/global and had to be written in a separate SCSS file
